.Overlook {
  width: 100%;

  img {
    width: 70%;
    margin: 30px auto;
    display: block;
    height: 100%;
  }
  @media (max-width: 650px) {
    img {
      width: 90%;
    }
  }
  @media (max-width: 1000px) {
    img {
      width: 80%;
    }
  }
}
