.Task {
  border-collapse: collapse;
  &:nth-child(even) {
    //background: #fbf7f7;
    //color: black;
  }
  td {
    //border: 1px solid black;
    border-bottom: 1px solid lightgray;
    border-collapse: collapse;
    padding: 5px 10px;
    //margin-right: 10px;
    text-align: left;
    white-space: nowrap;
    font-weight: normal;
    font-size: 15px;
    font-family: cursive;
  }
}

.Task__done {
  background: green;
  //opacity: 0.3;

  * {
    color: white;
  }
}