.Priority {
  p {
    display: inline-block;
    padding: 0 10px;
    border-radius: 50px;
  }

  .priority-1 {
    background: #d06a6a;
    color: white;
  }

  .priority-2 {
    background: #8ee38e;
    color: white;
  }

  .priority-3 {
    background: yellow;
    color: black;
  }
}
