.WorkspaceToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .WorkspaceToolbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .WorkspaceToolbar__addTask {
      background: blue;
      color: white;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      padding: 5px 15px;
      border-radius: 50%;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      position: fixed;
      bottom: 30px;
      right: 30px;

      .WorkspaceToolbar__addTask-hover {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        background: white;
        color: black;
        border: 1px solid black;
        text-align: center;
        font-size: 12px;
        display: none;
        animation: fade-in 1s forwards ;
        padding: 2px 0;
      }

      &:hover {
        background: #3a3aea;
        transform: scale(1.1);
      }

      &:hover .WorkspaceToolbar__addTask-hover {
        display: block;
      }
    }
  }

  .WorkspacesItem__dropdown {
    .WorkspacesItem__dots {
      div {
        background: white;
      }
    }
  }

  &:hover {
    .WorkspacesItem__dropdown {
      .WorkspacesItem__dots {
        opacity: 1;
      }
    }
  }
}